.user {
  border-style: solid;
  border-width: 5px;
  border-color: rgb(28, 40, 61);
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5%;
}
.user:hover {
  background: rgb(98, 217, 252);
}
.followed button {
    width: 100px;
}
.avatar img {
width: 40px;
  height: 40px;
  border-radius: 30px;
}
.name {

}
