.header {
    grid-area: h;
    background-color: rgb(28, 40, 61);
    border-width: 0 0 5px 0;
    border-style: solid;
    border-bottom-color: rgb(98, 217, 252);
    display: flex;
    flex-direction: row;
  }
  .header img {
    width: 50px;
  }
  .loginBlock {
    
  }