.app-wrapper {
  display: grid;
  grid-template-rows: 60px 1fr 50px;
  grid-template-columns: 3fr 10fr;
  grid-template-areas: "h h p" "c c c" "f f f"; 
  height: 100vh;
}
.app-wrapper-content {
  grid-area: c;
  background-color: rgb(28, 40, 61);
  background-image: url('./assets/logo512.png');
  overflow-y: scroll;
}
.app-wrapper-content::-webkit-scrollbar {
  width: 0;
}
.app-wrapper-content > div {
  margin: 0 5% 0 5%;
  height: 100%;
  background-color: rgba(140, 172, 173, 0.75);
}
.active-item {
  color: rgb(98, 217, 252);
}
a {
  text-decoration: none;
  color: white
}